<div class="container">
  <div class="row">
    <div class="col-xs-12 col-sm-10 col-md-8 col-sm-offset-1 col-md-offset-2">
      <input type="text" [(ngModel)]="filteredString">
      <br>
      <br>
      <button class="btn btn-primary" (click)="onAddNew()">Add New</button>
      <br><br>
      <h3>Server Status: {{serverStatus | async}}</h3>
      <hr>
      <ul class="list-group">
        <li
          class="list-group-item"
          *ngFor="let server of servers | filter:filteredString | sort:'name'"
          [ngClass]="getStatusClasses(server)">
          <span
            class="badge">
            {{ server.status }}
          </span>
          <strong>{{ server.name | ShortenPipe:10 }}</strong> | {{ server.instanceType |
          uppercase | reverse}} | {{ server.started | date:'fullDate' }}
        </li>
      </ul>
    </div>
  </div>
</div>
